@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

/*-----------------------------------*\ 
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors 
   */

  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 37%, 19%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: hsl(220, 13%, 95%);
  --hover-saffron: hsl(45, 76%, 72%);
  --sandy-brown: hsl(29, 90%, 65%);
  --saffron: hsl(45, 91%, 58%);
  --rhythm: hsl(240, 9%, 51%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography 
   */

  --fs-1: 46px;
  --fs-2: 28px;
  --fs-3: 18px;
  --fs-4: 15px;
  --fs-5: 14px;

  /**
   * spacing 
   */

  --px: 30px;
  --py: 60px;

  /**
   * others 
   */

  --default-transition: 0.75s ease;
}

/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img,
svg,
ion-icon,
span,
button {
  display: block;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--cultured);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--saffron);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--space-cadet);
}

/*-----------------------------------*\ 
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li {
  list-style: none;
}

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img,
svg,
ion-icon,
span,
button {
  display: block;
}
input {
  outline: none;
}
html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--cultured);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--saffron);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--space-cadet);
}

h1 {
  font-size: 1.56rem;
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  color: #1b1919;
  text-transform: uppercase;
  /* font-weight: var(--weight-600); */
  margin-top: 40px;
}

/*-----------------------------------*\ 
  #MAIN CONTAINER
\*-----------------------------------*/

.container {
  position: relative;
  /* padding: 0 15px; */
  max-width: 1400px;
  margin: auto;
  background: var(--white);
  overflow: hidden;
}

/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.btn {
  height: 55px;
  padding: 0 25px;
  color: var(--space-cadet);
  font-size: 14px;
  font-weight: 500;
  transition: var(--default-transition);
}

.btn:hover {
  filter: saturate(1.05) brightness(1.05);
}

.btn-primary {
  background: var(--saffron);
}

.btn-secondary {
  background: var(--cultured);
}

.btn-icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-title {
  max-width: 420px;
  color: var(--space-cadet);
  font-size: var(--fs-2);
  font-weight: 600;
}

.section-text {
  max-width: 320px;
  color: var(--rhythm);
  font-size: var(--fs-4);
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.greenColor {
  color: green !important;
}

.redColor {
  color: red !important;
}
